/* header */

.header {
  background-color: $color-blue;
  color: $color-white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
  position: relative;

  @media (min-width: 768px){
  }

  &__logo {
    position: absolute;

    @media (min-width: 768px){
    position: unset;
      
    }
  }

  // hamburger toggle icon
  &__toggle {

    &-input {
      display: none;
    }

    &-input:checked ~ .header__nav {
      opacity: 1;
      transform: scale(1, 1);
      transition: all 250ms ease-in-out;

    }

    &-label {
      position: absolute;
      right: 5%;
    }

    &-label {
      @media (min-width: 768px){
      display: none;
      }
    }
  }

  // navbar
  &__nav {
    opacity: 0;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;

    width: 100%;

    @media (min-width: 768px){
      opacity: 1;
      transform: scale(1, 1);
      width: unset;
    }


    &-links {
      color: $color-black;
      background-color: $color-white;
      font-family: $font-barlow;
      font-weight: 600;
      text-align: center;
      padding: 1rem 0;

      transform: translateY(85%);

      li {
        margin: 0.5rem 0;
        padding: 1rem 0rem;
        color: $color-dark-grayish-blue;

        &:hover {
          color: darken($color-dark-grayish-blue, 20%);
        }

        @media (min-width: 768px){
          color: $color-white;

          // underline hover effect
          a {
            position: relative;
          }
          
          a::after {
            content: '';
            display: block;
            height: 2px;
            background-color: darken($color-dark-grayish-blue, 20%);
            position: absolute;
            top: 1.5rem;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transform-origin: center;
            transition: transform ease-in-out 200ms;
          }

          a:hover::after {
            transform: scale(1,1);
          }
        }
      }

      .wrap-contact {
        display: flex;
        justify-content: center;
      }

      .contact {
        font-family: $font-fraunces;
        text-transform: uppercase;
        color: $color-black;
        background-color: $color-yellow;
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;

        @media (min-width: 768px){
          color: $color-black;
          background-color: $color-white;;

          a::after {
            all: unset;
          }

          &:hover {
          background-color: lighten($color-blue , 15%);
          color: $color-white;
          transition: color 100ms ease-in, background-color 200ms ease-in-out;
          }
        }
      }

      // menu arrow corner
      .arrows {
        transform: translateY(-67px);
      }

      #arrow-one {
        background-color: $color-white;
        position: absolute;
        width: 45px;
        height: 50px;
        right: 0;
      } 

      #arrow-two {
        position: absolute;
        background-color: $color-blue;
        width: 50px;
        height: 80px;
        right: 12px;
        top: -36px;
        transform: rotate(40deg);
      }

      @media (min-width: 768px){
      position: unset;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      color: $color-white;
      background-color: unset;
      transform: unset;
      }
    }
  }
}

